{% extends '::base.html.twig' %}

{% block body %}

<div class="container registration-container">
    <div class="row-fluid">
    
        <div class="container-inner">
        
            <form id="signUpForm" class="form-horizontal" method="POST" action="{{ url("registration_index") }}">            
                {% include 'WingrAppBundle:Default:renderSignupForm.html.twig' %}             
            </form>
       
         </div>       
    </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    
    $("#cvvModal").modal( {show: false} );
    $("[href='#cvv-modal']").click(function(){
        $("#cvvModal").modal("show");
        return false;
    });
    
    $("#signUpForm").submit(function(){

        if( $("#wingr_register_stripeToken").val().length ){
            return true;
        }

        if( $(this).data("isSubmitting") ){
            return false;
        }

        $(this).data("isSubmitting", true);
    
        $(".payment-alert").hide();
        $(".loading-alert").html("Sit tight, checking your information...").show();
        
        $.post("{{ url("registration_ajax_validate") }}", $(this).serialize(), function(data){
            
            $(".loading-alert").hide();
            
            if( data.isValid ){
            
                $(".loading-alert").html("Almost there, checking your credit card info!").show();
            
                Stripe.createToken($("#signUpForm"), function(status, response){
                
                    $(".loading-alert").hide();                
                    $("#signUpForm").data("isSubmitting", false);
                    
                    if(response.error){
                        $(".payment-alert").html(response.error.message).show();
                    }else{
                        $("#wingr_register_stripeToken").val( response.id );
                        $("#signUpForm").submit();
                    }
                    
                });
            }else{
                $("#signUpForm").data("isSubmitting", false);
                $("#signUpForm").html( data.html );
                $(".error input:first, .error select:first").focus();
            }
            
        }); 
        
        return false;
    });
    
    Stripe.setPublishableKey('pk_test_AR2voB5imX5PbXf2Q395HuQR');
  });
</script>

<div class="modal hide fade" id="cvvModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Need a hand?</h3>
    </div>
    <div class="modal-body">
        <div class="centered">
            <img src="{{ asset("/bundles/wingrapp/img/cvv.jpg") }} " />
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>    
    </div>
</div>

{% endblock %}
