{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row-fluid">
        <div class="span7">
            <div class="container-inner">
                <div class="page-title">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
        <div class="span5">
            stuff
        </div>
    </div>
</div>

{% endblock %}
