body {    
    background: url("../img/pof_bg.gif") repeat scroll 0 0 #fff;
    font-family: Arial, Helvetica, sans-serif !important;		
}

.header, .footer {
    background: url("../img/pof-web-header-top-bg.png") repeat scroll 0 0 #fff;
    margin-bottom: 0px !important;
    
    h3 a {
        color: #6DC5DF;
    }
}

.header {
	font-family: Open Sans, Sans-Serif !important;
	.listless li a, li {
	   text-transform: capitalize;
	   text-shadow: 0 1px 0 #1E496B;
	}
	.listless li {
	   border-right: 2px solid #121212;
	   margin-right: 5px;
	   &:last-child {
	       border-right: 0px;	       
	   }
	}
}

fieldset legend {
	border-bottom: 5px solid #E6ECF3;	
}

.container-inner {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	box-shadow: 0 8px 10px #DEDEDE;	
	-moz-box-shadow: 0 8px 10px #DEDEDE;
	-webkit-box-shadow: 0 8px 10px #DEDEDE;
	-o-box-shadow: 0 8px 10px #DEDEDE;
	background-color: #FAFAFA;
	padding: 20px;	
}

.btn-success {
	background: none repeat scroll 0 0 #709C32 !important;
}

.pof-header {
	display: block !important;
	background: linear-gradient(to bottom, #6DC5DF 0px, #429FB8 100%) repeat scroll 0 0 transparent;
	box-shadow: 0 2px 2px #999999;
	-moz-box-shadow: 0 2px 2px #999999;
	-webkit-box-shadow: 0 2px 2px #999999;
	-o-box-shadow: 0 2px 2px #999999;
	height: 42px;
	margin-bottom: 5px;
	color: #fff;
	text-shadow: 0 1px 0 #1E496B;
	font-family: Open Sans,Sans-Serif;
	
	.pof-header-inner {
	   text-align: center;
	   font-size: 22px;
	   padding: 8px;
	   em {
	       font-style: normal !important;
	       font-weight: bold;
	   }	   
	}
}

.home {		
	.splash-banner {	   
	   display: none;
	}
}

.blue {
	color: #B61848;
}